* {
  box-sizing: border-box;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform-style: preserve-3d;
}

.page-header-container {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.page-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.page-header-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.8rem;
}
.page-title {
  color: #4a4a4a;
}
.page-header-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.page-header-buttons .button {
  margin: 0.3rem;
}
#space {
  display: flex;
  width: 100%; height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; padding: 0; border: 0;
  transform-style: preserve-3d;
}
.card-wrapper {
  transform-style: preserve-3d;
  transform: translate3d(-100%, 50%, -800px) rotateY(70deg);
}
.card-youtube {
  width: 100%; height: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
#code {
  transform-style: preserve-3d;
  transform: rotateZ(45deg) translate3d(100%, 30%, -400px) rotateX(45deg);
}
#code .title {
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
}
.camera-code {
  padding: 1rem;
}
#hero {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  transform-style: preserve-3d;
  transform: translateZ(2400px);
  background-color: transparent;
}
#level {
  transform-style: preserve-3d;
  transform: rotateX(90deg) translate3d(0, 0, -1200px);
}

.has-text-khaki {
  color: #65684D;
}
.is-khaki {
  color: #65684D;
  border-color: #65684D;
}
.install-wrapper {
  background-color: #65684D;
  color: #FFF;
  padding: 1rem;
}
