html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
#viewport {
  perspective: 300px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
#camera {
  width: 100%;
  height: 100%;
  animation-duration: 3s;
  animation-name: backandforth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  will-change: transform;
  transform-style: preserve-3d;
}
@keyframes backandforth {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(450px);
  }
}

#cube {
  display: inline-block;
  width: 100vh;
  height: 100vh;
  position: absolute;
  left: calc(50% - 50vh);
  top: calc(50% - 50vh);
  transform-style: preserve-3d;
  transform: rotateX(30deg) translateZ(150px);
}
.cube-side {
  width: 100%;
  height: 100%;
  background: red;
  position: absolute;
  left: 0; top: 0;
}
.cube-side.up {
  background: #222;
  transform-origin: top;
  transform: rotateX(-90deg);
}
.cube-side.down {
  background: #444;
  transform-origin: bottom;
  transform: rotateX(90deg);
}
.cube-side.left {
  background: #666;
  transform-origin: left;
  transform: rotateY(90deg);
}
.cube-side.right {
  background: #888;
  transform-origin: right;
  transform: rotateY(-90deg);
}
.cube-side.front {
  background: url("../assets/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cube-side.back {
  background: url(https://thumbs.gfycat.com/IdealisticOilyFlicker-size_restricted.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-300px);
  transform-style: preserve-3d;
}

