html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
}

/* .cc-camera {
  transition: transform 1s;
}

.cc-world {
  transition: transform 1s;
} */
#space {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}
.cube {
  display: inline-block;
  width: 300px;
  height: 300px;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
  transform-style: preserve-3d;
  transition: transform 3s;
}
#cube2 {
  transform: translate3d(150px, 0, -150px) rotateY(-90deg);
}
#cube3 {
  transform: translate3d(300px, 0, 0px) rotateY(180deg);
}
.cube-side {
  width: 100%;
  height: 100%;
  background: rgb(114, 55, 55);
  position: absolute;
  left: 0; top: 0;
}
.cube-side.up {
  background: #222;
  transform-origin: top;
  transform: rotateX(-90deg);
}
.cube-side.down {
  background: #444;
  transform-origin: bottom;
  transform: rotateX(90deg);
}
.cube-side.left {
  background: #666;
  transform-origin: left;
  transform: rotateY(90deg);
}
.cube-side.right {
  background: #888;
  transform-origin: right;
  transform: rotateY(-90deg);
}
#cube1 .cube-side.right,
#cube2 .cube-side.right {
  background: transparent;
}
.cube-side.front {
  background: url("../assets/cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cube-side.back {
  background: url(https://thumbs.gfycat.com/IdealisticOilyFlicker-size_restricted.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-300px);
  transform-style: preserve-3d;
}
#rotated {
  transform-style: preserve-3d;
  transform: rotateZ(-45deg) translate3d(200px, -500px, 300px) rotateX(90deg);
  /* transform-origin: 50px 30%; */
  width: 50vw;
  height: 50vh;
  transform-origin: 0% 0%;
  background: aquamarine;
  backface-visibility: hidden;
}
#rotated2 {
  transform-style: preserve-3d;
  transform: rotateY(15deg) translate3d(200px, -500px, 300px) rotateZ(10deg);
  transform-origin: 0% 50px;
  width: 50vw;
  height: 50vh;
  background: chartreuse;
  backface-visibility: hidden;
}
#rotated3 {
  transform-style: preserve-3d;
  transform: translate3d(200px, -500px, 300px) rotateX(30deg) rotateY(-30deg);
  transform-origin: 0% 120px;
  width: 50vw;
  height: 50vh;
  background: tomato;
  backface-visibility: hidden;
}
